body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
@font-face {
  font-family: "SF Pro";
  src: url("./assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-style: italic;
}

:root {
  --typing-width: 17ch;
}

.body1 {
  background-color: none;
}

.tagwrapper {
  margin-top: 10vh;
  color: rgb(255, 255, 255);
  font-size: 5vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.heading {
  font-size: 5rem;
  font-family: monospace;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 10px solid white;
  width: 0ch;
  -webkit-text-stroke: 2px black;
  animation: typing 6s steps(23, end) infinite alternate,
    blink 1s infinite;
}

@keyframes typing {
  0% {
    width: 0ch;
  }

  50% {
    width: 23ch;
  }

  100% {
    width: 0ch;
  }
}

@keyframes blink {
  50% {
    border-color: white;
  }

  70% {
    border-color: transparent;
  }
}

.descriptionbuddy {
  margin-top: 10vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-size: x-large;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
  font-weight: 800;
  
  font-family: "SF Pro", sans-serif; 
}

.descriptionbuddy h2{
  margin-bottom: 10vh;
  font-size: 3rem;
  color: antiquewhite;
  animation: growShrink 0.8s ease-in-out infinite;
  display: inline-block; 
}
@keyframes growShrink {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}


.optionsbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12vh;
  justify-content: center;
  margin-top: 10vh;
  opacity: 0.9;
}

.button1 {
  margin: 12px;
  height: 10vh;
  width: 18vw;
  border-radius: 10px;
  background: #000000;
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  color: white;
  transition: 500ms;
  font-weight: bold;
  display: inline-block;
  transition: transform 0.1s ease-in-out;
}


.button1:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  color: #000000;
  background-color: #1c85e8;
  transition: 500ms;
  transform: scale(1.2);
}


.imageContainer {
  order: 2;
}



@media screen and (max-width: 800px) {
  .descriptionbuddy {
    font-weight: lighter;
    font-size: medium;
    text-align: center;
  }

  .button1 {
    font-size: 80%;
    height: 3rem;
    gap: none;
  }

  .heading {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
  }

  .tagwrapper {
    color: rgb(255, 255, 255);
  }
}

@media (max-width: 560px) {
  .heading {
    font-size: 2rem;
  }
  .button1 {
    font-size: 0.8rem;
    height: 8vh;
    width: 22vw;
  }
  .optionsbutton {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }
}

.infosection {
  /* font-family: "SF Pro", sans-serif;  */
  display: flex;
  /* flex-direction: column; */
  align-items: center; 
  justify-content: center;
  padding: 20px;
}
.infotext p{
  /* font-family: "SF Pro", sans-serif;  */
  font-size: 2rem;
  font-weight: 500;
}
.infocard {
  display: flex;
  background: rgba(16, 15, 15, 0.6);
  /* background: rgba(255, 255, 255, 0.05); */
  border-radius: 30px;
  padding: 20px;
  gap: 2vw;
  color: white;
  font-size: 1.5em;
  width: 100%;
  /* max-width: 1200px;  */
}

.infocard div:first-child {
  flex: 1; /* image side */
  display: flex;
  justify-content: center;
  align-items: center;
}

.infocard img {
  border-radius: 10px;
  width: 18em; 
  height: 18rem;
  object-fit: contain; 
}

.infocard div:last-child {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infocard h2 {
  font-size: 2em;
  margin-bottom: 10px;
}
.infocard div:first-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS FOR SECOND INFO DIV */

.infosection2 {
  /* font-family: "SF Pro", sans-serif;  */
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 20px;
}
.infotext2 h2{
  /* font-family: "SF Pro", sans-serif;  */
  font-size: 15rem;
  font-weight: 500;
}
.infocard2 {
  display: flex;
  background: rgba(16, 15, 15, 0.5);
  /* background: rgba(0, 0, 0, 0.05); */
  border-radius: 30px;
  padding: 20px;
  gap: 2vw;
  color: white;
  font-size: 2em;
  width: 100%;
  /* max-width: 1200px;  */
}

.infocard2 div:last-child {
  margin-left: 2vw;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infocard2 img {
  width: 20em; 
  height: 20rem;
  object-fit: contain; 
}

.infocard2 div:first-child {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infocard2 h2 {
  font-size: 2em;
  margin-bottom: 10px;
}
.infocard2 div:last-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.masterinfo{
  margin-top: 8vh;
  margin-bottom: 8vh;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

/* 3rd DIV */
.infosection3 {
  /* font-family: "SF Pro", sans-serif;  */
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 20px;
}

@media (max-width: 1000px) {
  .infocard {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .infocard img {
    /* width: 60%;
    height: 50%; */
    width: 15rem;
    height: 15rem;
  }

  .infotext p {
    font-size: 1rem;
  }
  .infotext h2{
    font-size: 1.5rem;

  }
  .infocard2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .infocard2 img {
    /* width: 80%;
    height: auto; */
    width: 15rem;
    height: 15rem;
  }

  .infotext2  p {
    font-size: 1rem;
  }
  .infotext2 h2{
    font-size: 1.5rem;

  }
  .imageContainer {
    order: 1;
  }
  
}
/* 
@media (max-width: 650px) {
  .infocard {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .infocard img {
    width: 15rem;
    height: 15rem;
  }

  .infotext  p {
    font-size: 1.5rem;
  }

  .infocard2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .infocard2 img {
    width: 30%;
    height: 30%;
  }

  .infotext2  p {
    font-size: 1.5rem;
  }
} */